<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Page</title>
</head>
<body>
  <h1>Create your character!</h1>
  <!-- Submitted form will POST to / route -->
  <form action="/" method='post'>
    Name: <input type="text" name="name">
    Class: <input type="text" name="class">
    Race: <input type="text" name="race">
    <input type="submit" value="Join the Guild!">
  </form>
</body>
</html>
