<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter</title>
  </head>
  <body>
      <h1>CM's Counter Page</h1>
      <h3>You've been visiting me {{session['count']}} times</h3>
      <form class="logic" action="/logic" method="post">
            <input style= "height: 50px; width: 100px;" type="submit" name="button" value="Reload for +2">
      </form>
      <form class="path" action="/path" method="post">
            <input style= "height: 50px; width: 100px;" type="submit" name="button1" value="Reset">
      </form>
  </body>
</html>
