<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <title>Email Validation</title>
        {% load staticfiles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'validation/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
        <div class ="container-fluid">
              <h1>Add an Email</h1>
              <form action='/success' method='post'>
              {% csrf_token %}
              <table>
                    <tr>
                        <th>Email</th>
                        <th>Added</th>
                        <th>Action</th>
                    </tr>
                    {%for i in email%}
                    <tr>
                        <td>{{i.email}}</td>
                        <td>{{i.created_at}}</td>
                        <td><a href={{i.id}}>remove</a></td>
                    </tr>
                    {% endfor %}
              </table>
              </form>
              <hr>
        </div>
  </body>
</html>
