<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Main Page</title>
            <link rel="stylesheet" href="../stylesheets/styles.css">
      </head>
      <body>
            <h1>This is the Dragon Page!</h1>
            <form class="" action="/elves" method="post">
                  <input type="submit" name="" value="Wanna see some elves?">
            </form>
            <form class="" action="/elves/new" method="post">
                  <input type="submit" name="" value="Create new!">
            </form>
            <div class="images">
                  <img src="../images/red.jpg" alt="">
                  <img src="../images/blue.jpg" alt="">
                  <img src="../images/green.jpg" alt="">
                  <img src="../images/tiamat.jpg" alt="">
            </div>
      </body>
</html>
