<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
        <h1>Let's create a new elf or a dragon!</h1>
        <form class="elf" action="/elves" method="post">
                <input type="text" name="" value="Elf Name">
                <input type="submit" name="" value="Add Elf">
        </form>
        <form class="elf" action="/dragons" method="post">
                <input type="text" name="" value="Dragon Name">
                <input type="submit" name="" value="Add Dragon">
        </form>
        <form class="" action="/" method="post">
              <input type="submit" name="" value="Meh, start over">
        </form>
  </body>
</html>
