body{
  width: 1500px;
}
.pokemon{
  display: inline-block;
  vertical-align: top;
  height:850px;
  width:1000px;
}
.pokedex{
  position: absolute;
  display: inline-block;
  vertical align: top;
  height: 500px;
  width: 350px;
  margin: 10px;
  padding: 20px;
  border: 20px solid;
  border-radius: 10px;
  border-bottom: 40px solid;
  border-color: red;
}
img{
  height:100px;
  width: 100px;
}
