<html>
<head>
  <title>Friends</title>
  <link rel="stylesheet" href="friendstyle.css">
</head>
<body class="game">
  <!-- we can use the line below to see all of our data in our template -->
    {{ all_friends }}
    {{ one_friend }}
    <div class="wrapper">
      <h1>These are all my friends!</h1>
      <!-- with all the data we can then construct a more structured output -->
      <p>
            {% for friend in friends: %}
            <ul>
                <li>First Name: {{ friend['first_name'] }}</li>
                <li>Last Name: {{ friend['last_name'] }}</li>
                <li>Occupation: {{ friend['occupation'] }}</li>
                <li>Created: {{ friend['created_at'] }}</li>
            </ul>
            <form style="display: inline-block" action="/friends/{{ friend['id'] }}/edit" method="get"><input type="submit" value="Edit"></form>
            <form style="display: inline-block" action="/remove_friend/{{ friend['id'] }}" method="post"><input type="submit" value="Delete"></form>
            <hr>
            {% endfor %}
      </p>
      <hr>
      <h2>Add a Friend</h2>
      <form action='/friends' method='POST'>
          <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
          <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
          <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
          <input type="submit" value="Add">
      </form>
    </div>
</body>
</html>
