<html ng-app='myApp'>
    <head>
        <title>The Rise of Evil Cast of Characters</title>
        <script src='bower_components/angular/angular.js'></script>
        <script src='javascript.js'></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
      <div ng-controller="castsController">
          <pre>Sort by = {{propertyName}}; reverse = {{reverse}}</pre>
          <hr/>
          <button ng-click="propertyName = null; reverse = false">Set to unsorted</button>
          <hr/>
          <table class="class">
            <tr>
              <th>
                <button ng-click="sortBy('name')">Name</button>
                <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>
                <button ng-click="sortBy('level')">Level</button>
                <span class="sortorder" ng-show="propertyName === 'level'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>
                <button ng-click="sortBy('race')">Race</button>
                <span class="sortorder" ng-show="propertyName === 'race'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>
                <button ng-click="sortBy('class')">Class</button>
                <span class="sortorder" ng-show="propertyName === 'class'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>
                <button ng-click="sortBy('weapon')">Weapon</button>
                <span class="sortorder" ng-show="propertyName === 'weapon'" ng-class="{reverse: reverse}"></span>
              </th>
            </tr>
            <tr ng-repeat="cast in casts | orderBy:propertyName:reverse">
              <td>{{cast.name}}</td>
              <td>{{cast.level}}</td>
              <td>{{cast.race}}</td>
              <td>{{cast.class}}</td>
              <td>{{cast.weapon}}</td>
            </tr>
          </table>
      </div>
        <!-- <div ng-controller='castsController'>
          Search characters: <input type="text" ng-model="castFilter">
          <ul>
            <li ng-repeat="cast in casts | orderBy:'-name'| filter:castFilter track by $index">
              {{ cast.name | uppercase }} is a {{ cast.race }} level {{ cast.level | number:0 }} {{cast.class}}
              who wields a {{cast.weapon}}.
            </li>
          </ul>
        </div> -->
    </body>
</html>
<!-- Copy
Your assignment is to figure out how to filter the casts in the ng-repeat using the filter_name model.
 No file chosen UPLOAD
Privacy Policy To report a mistake, highlight the selection you believe is in error.
 PREVIOUS -->
