<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
  </head>
  <body>
          <p>Masters in the dark arts of espionage and silent assassination,
            they are rarely seen and never heard... until they strike.
  Employed by samurai warlords to spy, sabotage and kill, they are relics of 
  an ancient code that have all but died out in the modern age.
  All but one. As the 21st head of the Ban clan, a dynasty of secret spies
  that can trace its history back some 500 years, 63-year-old engineer Jinichi
  Kawakami is Japan's last ninja.
  He is trained to hear a needle drop in the next room, to
  disappear in a cloud of smoke or to cut a victim's throat from 20 paces
   with nothing more than a two-inch 'death star'.</p>
  </body>
</html>
