<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counting Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
        <div class="wrapper">
              <div class="textbox">
                  <h1>Welcome to the Great Number Game!</h1>
                  <h2>Ahri must guess the number the dragon has in its head or she'll be eaten!</h2>
                  <h2>Help her live by entering a number from 1 to 100!</h2>
                  <form class="guess" action="/guess" method="post">
                        <input type="text" name="number">
                        <input class="ahri" type="submit" name="submit" value="Save Ahri!">
                  </form>
                  <div class="answer">
                      
                  </div>
              </div>
        </div>
  </body>
</html>
