<html ng-app='myApp'>
    <head>
        <title>Colors!</title>
        <script src='bower_components/angular/angular.js'></script>
        <script src='javascript.js'></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
      <div ng-controller="colorsController">
          <h1>Look at all the pretty colors!</h1>
          <label>Color:
          <span  class="nullable">
              <select ng-model="myColor" ng-options="color.name for color in colors">
                  <option value="">-- choose color --</option>
              </select>
              <p>{{color.name}}, {{color.hex}}, {{color.hex}}</p>
          </span></label><br/>
          <table class="crayola">
            <tr>
              <th>
                <button ng-click="sortBy('name')">Name</button>
                <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>
                <button ng-click="sortBy('hex')">Hex</button>
                <span class="sortorder" ng-show="propertyName === 'hex'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>Color</th>
              <th>
                <button ng-click="sortBy('RGB')">RGB</button>
                <span class="sortorder" ng-show="propertyName === 'rgb'" ng-class="{reverse: reverse}"></span>
              </th>
            </tr>
            <tr ng-repeat="color in colors | orderBy:propertyName:reverse">
              <td>{{color.name}}</td>
              <td>{{color.hex}}</td>
              <td style="background-color: {{color.hex}};"></td>
              <td>{{color.rgb}}</td>
            </tr>
          </table>
      </div>
    </body>
</html>
