.crayola {
border-collapse: collapse;
}

.crayola th {
border-bottom: 1px solid;
}
.crayola td, .crayola th {
border-left: 1px solid;
padding: 5px 10px;
}
.crayola td:first-child, .crayola th:first-child {
border-left: none;
}

.sortorder:after {
content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
