<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>I want a bear!</title>
            <link rel="stylesheet" href="styles.css">
      </head>
      <body>
            <h1>Code Bears!</h1>
            <img src="" alt="">
      </body>
</html>
