div.wrapper {
    height: 800px;
    width: 800px;
    background: url('girl.jpg');
    background-size: 800px 800px;
    background-repeat: no-repeat;
}

.left, .right {
    display: inline-block;
    width: 45%;
    border: 1px solid black;
    vertical-align: top;
    max-height: 400px;
    overflow-y: scroll;
    padding: 15px;
    margin: 3px;
    background: white;
}
