<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Users</title>
            <link rel="stylesheet" href="styles.css">
      </head>
      <body>
            <div class="wrapper">
                <form class="form" action="/users" method="post">
                    <ul>
                        <li><h3>Name:</h3></li>
                        <li><input type="name" name="name" value=""></li>
                        <li><h3>Age:</h3></li>
                        <li><input type="age" name="age" value=""></li>
                    </ul>
                    <hr>
                    <input type="submit" name="submit" value="Submit!">
                </form>
            </div>
      </body>
</html>
