<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>User Results</title>
            <link rel="stylesheet" href="styles.css">
      </head>
      <body>
            <ul>
                <li><h2>Name: <%= user.name %></h2></li>
                <li><h2>Age: <%= user.age %></h2></li>
            </ul>
            <form class="goback" action="/" method="get">
                  <input type="submit" name="submit" value="Go Back">
            </form>
      </body>
</html>
